#oscars {
    position: relative;
    margin-top: 150px;
    margin-bottom: 35px;
  }
  
  #oscars .container {
    display: flex;
    margin: auto;
    justify-content: flex-start;
    width: 75%;
  }
  
  #oscars::before {
    content: url("../images/Sunflower.png");
    position: absolute;
    top: -8em;
    left: 10em;
  }
  
  #oscars::after {
    content: url("../images/orchid.png");
    position: absolute;
    top: -15em;
    right: -5em;
  }
  
  #oscars h3 {
    background-image: url("../images/orange_oscars_bg.png");
    padding: 64px;
    text-align: left;
    line-height: normal;
  }
  
  #oscars .logoOscars {
    width: 278px;
    height: 129px;
    margin-top: 64px;
  }
  
  .site-footer::before {
    content: none;
  }
  
  .site-footer::after {
    content: none;
  }
  
  @media (max-width: 920px) {
    #oscars .container {
      flex-direction: column;
      align-items: center;
    }
  }