.main-navigation {
  display: flex;
}

.main-navigation ul {
  margin: auto;
}

.nav-menu button {
  position: absolute;
  left: 85%;
}

.burger-open {
  visibility: hidden;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background: #FFF5E9;
}

.active {
    visibility:visible;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
}


/* ANIMATION Fade In SECTIONS */
@keyframes apparitionFadeIn {
  0% {
    opacity: 0;
    translate: 0 200px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
#story {
  animation: apparitionFadeIn 1s 250ms backwards;
}

#studio {
  animation: apparitionFadeIn 1s 500ms backwards;
}

#oscars {
  animation: apparitionFadeIn 1s 750ms backwards;
}

#colophon {
  animation: apparitionFadeIn 1s 1000ms backwards;
}

/* ANIMATION Rotation FLEURS */
@keyframes flowersRotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
#oscars::before, #oscars::after, .story__article::after, #story h2::after, .rotateFlowers::before, .rotateFlowers::after, .site-footer ul::after {
  animation: flowersRotate 16s linear infinite;
  line-height: 0;
}

/* début ANIMATION TITRES H2 */
@keyframes apparition {
  0% {
    translate: 0 100%;
  }
  100% {
    translate: 0;
  }
}
h2 .title {
  display: inline-block;
}

/* Mettre une mixin ici : */
#studio h2 {
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 65px;
  margin-bottom: 65px;
}

#story h2 {
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 65px;
  margin-bottom: 65px;
}

@media (prefers-reduced-motion: no-preference) {
  .animation-titles {
    animation: apparition 500ms backwards;
  }
  .delay-1 {
    animation-delay: 500ms; /* Délai de 0.5 seconde */
  }
  .delay-2 {
    animation-delay: 1s; /* Délai de 1 seconde */
  }
}
/* fin ANIMATION TITRES H2 */

/* début HERO */
@keyframes mouvementBannerImg {
  0% {
    translate: 0px 0px;
    rotate: -1deg;
  }
  12% {
    translate: 0px 15px;
  }
  25% {
    translate: 0px 20px;
    rotate: 1deg;
  }
  35% {
    translate: 4px 20px;
  }
  50% {
    translate: 10px 28px;
    rotate: -1deg;
  }
  65% {
    translate: 20px 10px;
    rotate: 1deg;
  }
  85% {
    translate: 14px 8px;
  }
  100% {
    translate: 0px 0px;
    rotate: -1deg;
  }
}


.banner {
  position: relative;
  height: 500px;
  overflow: hidden;
}

#background-video {
  position: relative;
  height: 100%;
  z-index: 0;
}

.banner img {
  z-index: 1;
  position: fixed;
  width: 680px;
  animation: mouvementBannerImg 3s linear infinite;
}

@media only screen and (max-width: 640px) {
  #background-video {
    display: none;
  }
  .banner {
    min-height: 0;
    height: 425px;
  }
  .banner .logo {
    top: 185px;
    left: 110px;
    animation: none;
  }
}


/* fin HERO */

/* début SECTION CHARACTERS */

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 440px;
}

/* fin SECTION CHARACTERS */

/* début NUAGES */
#place .clouds {
  position: absolute;
}


/* MIXIN ?? */

.clouds .clouds-little {
  position: relative;
  top: -100px;
  left: 600px;
  filter: blur(1em);
  z-index: 1;
}

.clouds .clouds-big {
  position: relative;
  top: -200px;
  left: 1100px;
  filter: blur(1em);
  z-index: 1;
}

.story #place {
	background-image: url("../images/Studio_Koukaki-image_place.png");
}

/* fin NUAGES */