#oscars {
  position: relative;
  margin-top: 150px;
  margin-bottom: 35px;
}
#oscars .container {
  display: flex;
  margin: auto;
  justify-content: flex-start;
  width: 75%;
}

.container div {
  position: relative;
  display: flex;
  align-items: center;
  height: 400px;
}
.container div h3 {
  position: absolute;
  z-index: 2;
  text-align: left;
  line-height: normal;
}
.container div img {
  height: inherit;
}

#oscars::before {
  content: url("../images/Sunflower.png");
  position: absolute;
  top: -8em;
  left: 10em;
}

#oscars::after {
  content: url("../images/orchid.png");
  position: absolute;
  top: -15em;
  right: -5em;
}

#oscars .logoOscars {
  width: 279px;
  height: 129px;
  margin-top: 64px;
}

.site-footer::before, .site-footer::after {
  content: none;
}

/* button BURGER */
.crossBurger span:nth-child(1) {
  transform: rotate(45deg) translate(2.5px, 5px);
}

.crossBurger span:nth-child(2) {
  opacity: 0;
}

.crossBurger span:nth-child(3) {
  transform: rotate(-45deg) translate(2.5px, -5px);
}

/* BURGER */
.main-navigation {
  display: flex;
}
.main-navigation ul {
  margin: auto;
}

.nav-menu button {
  position: absolute;
  left: 85%;
}

#site-navigation {
  position: relative;
  z-index: 2;
}

.burger-open {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: #FFF5E9;
  translate: 0 -100%;
  opacity: 0;
  transition: all 200ms ease;
}
.burger-open img {
  display: flex;
  margin: auto;
}
.burger-open p {
  margin-top: 100px;
  text-align: center;
}
.burger-open ul li {
  list-style-type: none;
  margin-left: -64px;
  text-align: center;
  line-height: 200%;
  font-size: 64px;
}
.burger-open ul li a {
  text-decoration: none;
}
.burger-open ul li a:hover {
  color: black;
  text-shadow: 0px 0px 14px #FF5C00;
}

.open {
  translate: 0 0%;
  opacity: 1;
  transition: all 200ms ease;
}

.menu-toggle,
.main-navigation.toggled ul {
  display: flex;
}

/* animations BURGER */
.orchidFlower {
  position: absolute;
  z-index: -1;
  animation: flowersRotate 16s linear infinite;
  left: -5%;
  top: 10%;
}

.sunFlower {
  position: absolute;
  z-index: -1;
  animation: flowersRotate 16s linear infinite;
  left: 80%;
  top: 12%;
}

.pointsFlower {
  position: absolute;
  z-index: -1;
  animation: flowersRotate 16s linear infinite;
  width: 86px;
  left: 12%;
  top: 55%;
}

.randomFlower {
  position: absolute;
  z-index: -1;
  animation: flowersRotate 16s linear infinite;
  width: 92px;
  left: 96%;
  top: 38%;
}

.hibiscusFlower {
  position: absolute;
  z-index: -1;
  animation: flowersRotate 16s linear infinite;
  left: 76%;
  top: 64%;
}

.littleJaakuna {
  position: absolute;
  z-index: -1;
  animation: mouvementBannerImg 3s linear infinite;
  width: 123px;
  left: 76%;
  top: 50%;
}

.littleKawaneko {
  position: absolute;
  z-index: -1;
  animation: mouvementBannerImg 3s linear infinite;
  width: 123px;
  left: 14%;
  top: 22%;
}

.littleOnejiiro {
  position: absolute;
  z-index: -1;
  animation: mouvementBannerImg 3s linear infinite;
  width: 123px;
  left: 6%;
  top: 72%;
}

@media screen and (max-width: 920px) {
  #oscars .container {
    flex-direction: column;
    align-items: center;
  }
  li .link-burger {
    font-size: 0.5em;
  }
  .burger-open ul li {
    line-height: 95%;
  }
}
@media screen and (max-width: 700px) {
  .menu-toggle {
    display: flex;
  }
  .main-navigation {
    height: 80px;
  }
  .main-navigation ul {
    display: flex;
    margin: 0;
    padding-left: 0;
  }
  .main-navigation li a {
    margin-left: 1em;
    font-size: 0.65em;
  }
  .main-navigation ul .site-title {
    display: block;
  }
  .banner img {
    padding-left: 3em;
    padding-right: 3em;
  }
  li .link-burger {
    font-size: 0.3em;
  }
  .burger-open ul li {
    line-height: 65%;
  }
  .burger-open p {
    margin-top: 100px;
    font-size: 0.7em;
  }
  .orchidFlower {
    width: 25%;
  }
  .littleKawaneko {
    width: 15%;
    left: 12%;
    top: 30%;
  }
  .littleJaakuna {
    width: 15%;
  }
  .swiper {
    width: 65%;
  }
  h3 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 2rem;
  }
  #studio h2 {
    background-size: 250px !important;
  }
}
@media screen and (max-width: 640px) {
  #background-video {
    display: none;
  }
  .banner {
    min-height: 0;
    height: 425px;
  }
  .banner .logo {
    top: 185px;
    left: 110px;
    animation: none;
  }
}
main {
  overflow: hidden;
}

/* ANIMATION Fade In SECTIONS */
@keyframes apparitionFadeIn {
  0% {
    opacity: 0;
    translate: 0 200px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
#story {
  animation: apparitionFadeIn 1s 250ms backwards;
}

#studio {
  animation: apparitionFadeIn 1s 500ms backwards;
}

#oscars {
  animation: apparitionFadeIn 1s 750ms backwards;
}

#colophon {
  animation: apparitionFadeIn 1s 1000ms backwards;
}

/* ANIMATION Rotation FLEURS */
@keyframes flowersRotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
#oscars::before, #oscars::after, .story__article::after, #story h2::after, #studio h2::before, #studio h2::after, .site-footer ul::after {
  animation: flowersRotate 16s linear infinite;
  line-height: 0;
}

/* ANIMATION TITRES H2 */
@keyframes apparition {
  0% {
    translate: 0 100%;
  }
  100% {
    translate: 0;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .animation-titles {
    animation: apparition 500ms backwards;
  }
}
h2 span {
  display: inline-block;
}

#studio h2 {
  overflow: hidden;
  background-size: 525px;
}

#story h2 {
  overflow: hidden;
  background-size: 73%;
}

#studio h2 span:nth-last-child(2) {
  animation-delay: 500ms;
}

#studio h2 span:nth-last-child(1) {
  animation-delay: 1s;
}

/* HERO */
@keyframes mouvementBannerImg {
  0% {
    translate: 0px 0px;
  }
  12% {
    translate: 0px 15px;
  }
  25% {
    translate: 0px 20px;
  }
  35% {
    translate: 4px 20px;
  }
  50% {
    translate: 10px 28px;
  }
  65% {
    translate: 20px 10px;
  }
  85% {
    translate: 14px 8px;
  }
  100% {
    translate: 0px 0px;
  }
}
.banner {
  position: relative;
}
.banner img {
  position: sticky;
  margin-top: -14%;
  margin-left: 1%;
  width: 51em;
  animation: mouvementBannerImg 3s linear infinite;
}

#logo-parallax {
  z-index: 1;
  margin-bottom: 65px;
}

#background-video {
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  z-index: 0;
}

/* SECTION CHARACTERS */
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 440px;
}

/* NUAGES */
#place .clouds {
  position: absolute;
}

.clouds .clouds__little {
  position: relative;
  z-index: 1;
  top: -100px;
  left: 600px;
  filter: blur(1em);
}
.clouds .clouds__big {
  position: relative;
  z-index: 1;
  top: -200px;
  left: 1100px;
  filter: blur(1em);
}

/* SECTION PLACE */
.story #place {
  background-image: url("../images/Studio_Koukaki-image_place.png");
}/*# sourceMappingURL=theme.css.map */